 .u-section-1 {
  background-image: url("images/04c92f4b1888be1f59c0cf8549526806.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 735px;
}

.u-section-1 .u-text-1 {
  font-size: 5.625rem;
  margin: 117px 112px 0 0;
}

.u-section-1 .u-btn-1 {
  border-radius: 10px;
  background-image: linear-gradient(135deg, #478ac9, #24d9ea);
  margin: 162px auto 60px 0;
  padding: 14px 32px 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 219px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 214px;
}

.u-section-2 .u-group-1 {
  width: 832px;
  min-height: 158px;
  margin: 28px auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 15px 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-2 .u-group-1 {
    width: 686px;
    margin-top: 24px;
    margin-bottom: 20px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-top: 29px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 525px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 15px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    margin-bottom: 24px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 38px;
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 609px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 1px auto 70px 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/f1bd07a177034e1be82934e977c2d15a.jpeg");
  min-height: 558px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-2 {
  background-image: url("images/6351493a20e107bdcedcceec726ee963.jpeg");
  min-height: 279px;
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 279px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-icon-1 {
  height: 38px;
  width: 38px;
  margin: 25px auto 0;
}

.u-section-3 .u-text-1 {
  margin: 30px 20px 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 20px 20px 25px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 279px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-icon-2 {
  height: 38px;
  width: 38px;
  margin: 25px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 30px 20px 0;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 20px 20px 25px;
}

.u-section-3 .u-image-3 {
  background-image: url("images/b41165f4eeb68cd6cdbb88a1048f82a7.jpeg");
  min-height: 279px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1725px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }
}